@model LoginViewModel
<h2 class="text-center">Выберите действие</h2>

<div>
    <div class="card col-5 text-center m-auto">

        <div class="card-body text-center">
            <form asp-controller="Account" asp-action="Menu" method="post">
                <div asp-validation-summary="All"></div>
                <input hidden asp-for="ReturnUrl" />
                <div class="row justify-content-center">
                    <label class="text-center">Введите логин:</label>
                </div>
                <div class="row justify-content-center">
                    <input asp-for="UserName" />
                    <span asp-validation-for="UserName"></span>
                </div>
                <div class="row justify-content-center">
                    <label class="">Введите пароль:</label>
                </div>
                <div class="row justify-content-center">
                    <input asp-for="Password" />
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="m-2">
                    <input class="btn btn-info p-2 text-center" type="submit" value="Войти" />
                </div>

            </form>
            
            <div class="m-2">
                <form method="get" asp-action="Register">
                    <input class="btn btn-info p-2 text-center" type="submit" value="Зарегистрироваться" />
                </form>
            </div>
            
            
        </div>

    </div>

</div>

