@model Korelskiy.WW2Project.Models.User

<h2>Ваш профиль:</h2>

<div class="row">
    UserName: @Model.UserName
</div>
<div class="row">
    Пароль: 
</div>

<div class="row">
    
    Ава: @if (Model.AvatarPath == null)
          {
             <div>
                 Нет фотки
             </div>
            
          }
          else
          {
                <img src="@Model.AvatarPath" class="img-thumbnail"/>
          }
          
</div>
<p>Выберите файл для загрузки</p>

  <form asp-action="AddFile" asp-route-userId="@Model.Id" method="post" enctype="multipart/form-data">
        <input type="file" name="uploadedFile" /><br>
        <input type="submit" value="Загрузить" />
  </form>
