<h2>AccessDenied</h2>

<a asp-controller="Admin" asp-action="Index">Admin</a>
<a asp-controller="Admin" asp-action="Administrator">Administrator</a>
<a asp-controller="Admin" asp-action="Manager">Manager</a>

<p>
    Is Authenificated: @ViewBag.IsAuthenticated
</p>
<p>
    Name: @ViewBag.Name
</p>